*.o
*.obj
*.out
*.exe
main
main.exe

*.a
*.lib
*.so
*.dll
*.dylib


*.dSYM/
*.stackdump
*.core
core
vgcore.*


*.dot
*.dmp
*~
*.tmp
*.temp
*.bak
*.swp
*.swo


.vscode/
.idea/
.vs/
*.code-workspace


CMakeCache.txt
CMakeFiles/
cmake-build-*/

.DS_Store
Thumbs.db